.venv/
__pycache__/
*.py[cod]
.env
.pytest_cache/
.coverage
htmlcov/
*.egg-info/


# Terraform local working directory
**/.terraform/*

# Terraform state and backups
*.tfstate
*.tfstate.*

# Saved Terraform plans
*.tfplan

# Terraform crash logs
crash.log
crash.*.log

# Local Terraform variable values
*.tfvars
*.tfvars.json